html, body {
  height: 100%;
}

footer {
  height: 100px;
  background: #ffffff;
}

/* breadcrum, override */

.breadcrumb {
  background-color: #ffffff;
}

.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item:before {
  color: #000000;
}

.breadcrumb .active {
  font-weight: bold;
}

/* post-grid-item */

.card .badge {
  top: 10px;
  left: 10px;
}

.card .heart {
  bottom: 10px;
  right: 10px;
}

.card-bg {
  height: 250px;
}

.card.blue .card-bg {
  background-color: #2420FF;
}

.card.yellow .card-bg {
  background-color: #FFE500;
}

/* post page starts here */
