html, body {
  height: 100%;
}

.left-column {
  padding-top: 100px;
  flex-direction: column;
}

.width-300 {
  width: 300px;
}

.right-wrapper p,
.left-column p {
  width: 300px;
}

.hands-image {
  max-width: 400px;
}

.buttons .btn {
  margin-bottom: 10px;
}

.content {
  overflow:auto;
  padding-bottom:100px
}

footer {
  height: 100px;
  background: #ffffff;
}
